<!DOCTYPE html>
<html>
    <head>
        <title>MusiMap Artist</title>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/artistScreen.css" rel="stylesheet"/>
    </head>
    <body style="margin: 0;">
        <div class="artist-screen">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="artist-header">
                    <div class="menu-icon">
                        <a href="menu.html">
                            <img src="./img/home screenline 3.png" class="line"/>
                            <img src="./img/home screenline 3.png" class="image1"/>
                            <img src="./img/home screenline 3.png" class="image2"/>
                        </a>
                    </div>
                    <div class="search-icon">
                        <a href="searchpage.html">
                            <img src="./img/home screenhandle 2.png" class="path"/>
                            <img src="./img/home screenhandle 1.png" class="image3"/>
                            <img src="./img/searchmagnifying glass.png" class="oval"/>
                        </a>
                    </div>
                    <img src="./img/artist screenartist border.png" class="artist-border"/>
                    <img src="./img/artist screenheader border.png" class="header-border"/>
                </div>
                <div class="artist">
                    <img src="./img/artist screenartist frame.png" class="artist-frame"/>
                    <img src="./img/artist screenartist head.png" class="artist-head"/>
                    <img src="./img/artist screenbody 1.png" class="body1"/>
                    <img src="./img/artist screenbody 2.png" class="body2"/>
                    <div class="artist-name">
                        Artist Name
                    </div>
                </div>
                <div class="biography">
                    <div class="bio">
                        Bio:
                    </div>
                    <div class="the-quick-brown-fox">
                        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. Sample.
                    </div>
                </div>
                <div class="add-to-favorite">
                    <img src="./img/artist screenadd2.png" class="add2"/>
                    <img src="./img/artist screenadd1.png" class="add1"/>
                    <img src="./img/artist screenadd button frame.png" class="add-button-frame"/>
                </div>
                <div class="back">
                    <a href="homescreen.html">
                        <img src="./img/artist screenback button frame.png" class="back-button-frame"/>
                        <img src="./img/artist screenback2.png" class="back2"/>
                        <img src="./img/artist screenback1.png" class="back1"/>
                    </a>
                </div>
                <div class="music-stuff">
                    <div class="shadow">
                    </div>
                    <img src="./img/artist screenitems.png" class="items"/>
                    <div class="music-button">
                    </div>
                    <div class="videos-button">
                    </div>
                    <div class="music">
                        Music
                    </div>
                    <div class="videos">
                        Videos
                    </div>
                    <img src="./img/artist screenline 2.png" class="line1"/>
                    <img src="./img/artist screenline 2.png" class="line2"/>
                    <div class="play-button1">
                        <img src="./img/artist screentriangle.png" class="triangle"/>
                    </div>
                    <div class="song1">
                        Song 1
                    </div>
                    <div class="a135">
                        1:35
                    </div>
                    <div class="play-button2">
                        <img src="./img/artist screentriangle.png" class="triangle2"/>
                    </div>
                    <div class="song2">
                        Song 2
                    </div>
                    <div class="a330">
                        3:30
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
