<!doctype html>

<html>

   <!-- Side navigation -->
    <div class="sidenav">
        <button onclick="goBack()"> << </button>
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <button><a href="menu.html"> Menu</a></button>
    </div>

    <head>
        <title>Artist</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/musimap.css" rel="stylesheet">

    </head>

    <body>
        <div>
            <div>
                <h1>MusiMap</h1>
                <h2>Example Artist</h2>
            </div>

            <h4>Biography</h4>

            <p>Some info here</p>
           
            <h4>Releases</h4>

            <p>Some releases here</p>

            <h4>Actions</h4>

            <a href="library.html">Add to library</a>
            <a href="likeThis.html">More like this</a>
        </div>
    </body>
</html>

