<!DOCTYPE html>
<html>
    <head>
        <title>MusiMap Home</title>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/homeScreen.css" rel="stylesheet"/>
    </head>
    <body style="margin: 0;">
        <div class="home-screen">
            <div style="width: 1440px; height: 100%; position: relative; margin: auto;">
                <img src="./img/artist screenheader border.png" class="header-border"/>
                <div class="header">
                    <div class="menu-icon">
                        <a href="menu.html">
                            <img src="./img/home screenline 3.png" class="line3"/>
                            <img src="./img/home screenline 3.png" class="line2"/>
                            <img src="./img/home screenline 3.png" class="line1"/>
                        </a>
                    </div>
                    <div class="search-icon">
                        <a href="searchpage.html">
                            <img src="./img/home screenhandle 2.png" class="handle2"/>
                            <img src="./img/home screenhandle 1.png" class="handle1"/>
                            <img src="./img/searchmagnifying glass.png" class="magnifying-glass"/>
                        </a>
                    </div>
                </div>
                <div class="map">
                    <div class="artist-clickable">
                        <a href="artistscreen.html">
                            <img src="./img/home screenbubble 1.png" class="bubble1"/>
                            <div class="artist-name">
                                Artist Name
                            </div>
                            <img src="./img/home screenartist pic.png" class="artist-pic"/>
                        </a>
                    </div>
                    
                    <img src="./img/home screenpath 4.png" class="path4"/>
                    <img src="./img/home screenpath 3.png" class="path3"/>
                    <img src="./img/home screenpath 2.png" class="path2"/>
                    <img src="./img/home screenpath 1.png" class="path1"/>
                    <img src="./img/home screenbubble 2.png" class="bubble2"/>
                </div>
            </div>
        </div>
        
    </body>
</html>
