<!doctype html>
<html>
    <head>
        <title>MusiMap Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="./css/homeScreen.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="header">
                <div class="menu-icon">
                    <a href="menu">
                        <img src="./img/home screenline 3.png" class="line3"/>
                        <img src="./img/home screenline 3.png" class="line2"/>
                        <img src="./img/home screenline 3.png" class="line1"/>
                    </a>
                </div>
                <div class="search-icon">
                    <a href="searchpage">
                        <img src="./img/home screenhandle 2.png" class="handle2"/>
                        <img src="./img/home screenhandle 1.png" class="handle1"/>
                        <img src="./img/searchmagnifying glass.png" class="magnifying-glass"/>
                    </a>
                </div>
            </div>
            <div class="map">
                <div id="container">
                    <img src="./img/map.png" id="musimap" />
                    <div class="artist-clickable">
                    <a href="exampleArtist">   
                        <div class="artist-name">
                            Artist Name
                        </div>    
                    </div>
                </div>
                
                        
                    </a>
                </div>              
            </div>
        </div>
        <div class="add">
            <h3><a href="add/Megadeth">Add artist: Megadeth</a></h3>
            <h3><a href="add/Death">Add artist: Death</a></h3>
            <h3><a href="add/Emperor">Add artist: Emperor</a></h3>
        </div>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="js/bootstrap.js"></script>
        
    </body>
</html>
