<!doctype html>

<html>
    <!-- Side navigation -->
    <div class="sidenav">
        <button onclick="goBack()"> << </button>
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <button><a href="menu.html"> Menu</a></button>
    </div>

    <head>
        <title>MusiMap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/musimap.css" rel="stylesheet">

    </head>

    <body>
        <div>
            <div>
                <h1>MusiMap</h1>
                <h2>My Library</h2>
            </div>

            <h4>My Artists</h4>

            <ul>
                <li><a href="artistscreen.html">Iron Maiden</a></li>
                <li><a href="artistscreen.html">Judas Priest</a></li>
                <li><a href="artistscreen.html">Black Sabbath</a></li>
            </ul>
           
        </div>
    </body>
</html>

