<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/search.css" rel="stylesheet" type="text/css"/>
    </head>
    <body style="margin: 0;">
        <div class="search">
            <div style="width: 1440px; height: 100%; position: relative; margin: auto;">
                <div class="header">
                    <div class="search-icon">
                        <img src="./img/home screenhandle 2.png" class="handle2"/>
                        <img src="./img/home screenhandle 1.png" class="handle1"/>
                        <img src="./img/searchmagnifying glass.png" class="magnifying-glass"/>
                    </div>
                    <img src="./img/artist screenheader border.png" class="header-border"/>
                </div>
                <div class="label1">
                    Search…
                </div>
                <div class="transparent">
                </div>
            </div>
        </div>
    </body>
</html>
