<!doctype html>

<html>

    <!-- Side navigation -->
    <div class="sidenav">
        <button onclick="goBack()"> << </button>
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <button><a href="menu.html"> Menu</a></button>
    </div>

    <head>
        <title>MusiMap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/musimap.css" rel="stylesheet">

    </head>

    <body>
        <div>
            <div>
                <h1>MusiMap</h1>
                <h2>Settings</h2>
            </div>

            <h4>Graph Settings</h4>

            <p>Setting 1</p>
            <p>Setting 2</p>
            <p>Setting 3</p>

            <h4>Account Settings</h4>

            <p>Some stuff</p>
           
        </div>
    </body>
</html>

