<!doctype html>

<html>

    <!-- Side navigation -->
    <div class="sidenav">
        <button onclick="goBack()"> << </button>
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <button><a href="menu.html"> Menu</a></button>
    </div>
    <head>
        <title>MusiMap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/musimap.css" rel="stylesheet">

    </head>

    <body>
        <div>
            <div>
                <h1>MusiMap</h1>
                <h2>Social Page</h2>
            </div>

            <h4>My Friends</h4>

            <ul>
                <li>Philip Rivers</li>
                <li>Antonio Gates</li>
                <li>Joey Bosa</li>
            </ul>

            <h4>Messages</h4>
            <p>Philip Rivers says: Check out <a href="artistscreen.html">this artist</a></p>
           
        </div>
    </body>
</html>
